{% extends "master.html" %}

{% block title %}
    Update
{% endblock %}

{% block content %}
    <div class="container mt-5" style="max-width: 500px";>
        <div class="card p-4 shadow sm">
            <h2 class="text-center mb-4 text-secondary">Update Item</h2>
            <form method="POST">
                {% csrf_token %} 
                <div class="mb-3">
                    <label class="form-label fw-bold">Product Name</label>
                    <select name="products" id="products">
                        <option value="" selected disabled>Choose a product</option>
                        {% for x in all_items %}
                            <option value="{{ x.product_name }}">{{ x.product_name }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="mb-3">
                    <label class="form-label fw-bold">Quantity</label>
                    <input type="number" name="quantity" value="{{ item.quantity }}">
                </div>
                <div class="mb-3">
                    <label class="form-label fw-bold">Selling price</label>
                    <input type="number" name="selling_price" step="0.01" placeholder="Enter Selling price" required>
                </div>
                <button type="submit">Update</button>
            </form>
        </div>
    </div>
{% endblock %}